@model EnrollmentManagement.Models.Enrollment

<h2>Supprimer Inscription</h2>

<p>Êtes-vous sûr de vouloir supprimer cet inscription?</p>
<div>
    <h4>Enrollment Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusE)
        </dd>
    </dl>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Retour à la liste</a>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Annuler</a>
    </form>
</div>
