@model EnrollmentManagement.Models.Enrollment

<div style="max-width: 960px; margin: 0 auto;">
    <h2 style="margin-bottom: 20px;">Supprimer Inscription</h2>

    <p>Êtes-vous sûr de vouloir supprimer cet inscription?</p>
    <div>
        <h4>Enrollment Details</h4>
        <hr />
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.StudentId)</th>
                    <td>@Html.DisplayFor(model => model.StudentId)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.CourseId)</th>
                    <td>@Html.DisplayFor(model => model.CourseId)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.EnrollmentDate)</th>
                    <td>@Html.DisplayFor(model => model.EnrollmentDate)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.StatusE)</th>
                    <td>@Html.DisplayFor(model => model.StatusE)</td>
                </tr>
            </tbody>
        </table>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <input type="submit" value="Supprimer" class="btn btn-danger" style="margin-right: 10px;" />
            <a href='@Url.Action("Index")' class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>