@model EnrollmentManagement.Models.Enrollment

<div style="max-width: 960px; margin: 0 auto;">
    <h2 style="margin-bottom: 20px;">Détails Inscription</h2>

    <div>
        <h4>Information Inscription</h4>
        <hr />
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.StudentId)</th>
                    <td>@Html.DisplayFor(model => model.StudentId)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.CourseId)</th>
                    <td>@Html.DisplayFor(model => model.CourseId)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.EnrollmentDate)</th>
                    <td>@Html.DisplayFor(model => model.EnrollmentDate)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.StatusE)</th>
                    <td>@Html.DisplayFor(model => model.StatusE)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href='@Url.Action("Edit", new { id = Model.Id })' class="btn btn-primary" style="margin-right: 10px;">Modifier</a>
        <a href='@Url.Action("Index")' class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>