@model CourseManagement.Models.Course

<div style="max-width: 960px; margin: 0 auto;">
    <h2 style="margin-bottom: 20px;">Détails Filière</h2>

    <div>
        <h4>Information Filière</h4>
        <hr />
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Titre :</th>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <th scope="row">Description :</th>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <th scope="row">Status Filière :</th>
                    <td>@Model.StatusC</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href='@Url.Action("Edit", new { id = Model.Id })' class="btn btn-primary" style="margin-right: 10px;">Modifier</a>
        <a href='@Url.Action("Index")' class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>